@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div>
    <a asp-controller="Users"
       asp-action="Index">Users</a>
</div>
<div>
    <a asp-controller="UserTasks"
       asp-action="Index">User Tasks</a>
</div>
<div>
    <a asp-controller="ItemTasks"
       asp-action="Index">Item Tasks</a>
</div>